<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="container ">
        <div *ngIf="userData.connected; else NotConnected" class="chat-box">
            <div class="member-list">
                <ul>
                    <li (click)="setActiveTab('CHATROOM')" [ngClass]="{'active': tab==='CHATROOM'}" class="member">Public Chatroom</li>
                    <li *ngFor="let name of privateChats.keys()" (click)="setActiveTab(name)" [ngClass]="{'active': tab===name}" class="member">{{name}}</li>
                </ul>
            </div>
            <div *ngIf="tab==='CHATROOM'; else privateChat" class="chat-content">
                <ul class="chat-messages">
                    <li *ngFor="let chat of publicChats; let i=index" [ngClass]="{'message': true, 'self': chat.senderName===userData.username}" class="message">
                        <div *ngIf="chat.senderName !== userData.username" class="avatar">{{chat.senderName}}</div>
                        <div class="message-data">{{chat.message}}</div>
                        <div *ngIf="chat.senderName === userData.username" class="avatar self">{{chat.senderName}}</div>
                    </li>
                </ul>
                <div class="send-message">
                    <input type="text" class="input-message" placeholder="Enter Message" [(ngModel)]="userData.message" />
                    <button type="button" class="send-button" (click)="sendValue()">Send</button>
                </div>
            </div>
            <ng-template #privateChat>
                <div class="chat-content">
                    <ul class="chat-messages">
                        <li *ngFor="let chat of privateChats.get(tab); let i=index" [ngClass]="{'message': true, 'self': chat.senderName===userData.username}" class="message">
                            <div *ngIf="chat.senderName !== userData.username" class="avatar">{{chat.senderName}}</div>
                            <div class="message-data">{{chat.message}}</div>
                            <div *ngIf="chat.senderName === userData.username" class="avatar self">{{chat.senderName}}</div>
                        </li>
                    </ul>
                    <div class="send-message">
                        <input type="text" class="input-message" placeholder="Enter message" [(ngModel)]="userData.message" />
                        <button type="button" class="send-button" (click)="sendPrivateValue()">Send</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-template #NotConnected>
            <h2>User is not Connected</h2>
        </ng-template>
    </div>
</div>